@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'mapbox-gl/dist/mapbox-gl.css';

@layer base {
  body {
    @apply bg-brand-off-white text-brand-charcoal;
  }
}